.Projects{
    padding-bottom: 40px;
}

.Projects h1, .Projects h4{
    text-align: center;
}

.Projects h1{
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0;
}

.Projects h4{    
    font-size: 24px;
    margin-bottom: 40px;
}

.wrapper {
    display: grid;
    column-gap: 25px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 0 5%;
}

.card {
    border-radius: 20px;
    border: 5px solid #000;
    text-align: center;
    padding: 20px 0;
    background-color: var(--background);
}

.card:hover::after{
    content: "";
    display: block;
    border-radius: 15px;
    position: relative;
    z-index:-1;
    background-color:#FC5F5F;
    border-width: 2px;
    bottom: 100%;
    left: 13px;
    width: 100%;
    height: 160%;
}

.card .card__title {
    font-size: 27px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 10px;
}

.card .card__description {
    line-height: 1.2rem;
}