.PageTemplate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.PageTemplate .ButtonTemplate{
    transform: translatex(25%);
}

.Form{
    width: 50%;
    align-items: center;
    margin:0;
    margin-left: 145px;
}

Button{
    margin-top: 2%;
}

.keyimg{
    margin: 0;
}

.LoginHeader{
    font-size: 48px;

}

input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 3px;
    font-size: 32px;
    padding: 20px;
    margin: 5px;

}

.Para{
    font-size: 32px;
}

a{
    text-decoration: none;
    color: #FC5F5F;
}
