.Homepage {
    text-align: center;
    
  }
.nav{
  height: 10%;
  width: 100%;
}
.left{
  width: 50%;
  height: 100%;
  font-family: Consolas;
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  text-align: left;
  margin: 0 0 0 0;
  padding: 18% 0 0 2%;
}
.right{
  width: 50%;
  height: 100%;
  margin: 2% 0 0 0;
  padding: 0 0 0 0;
}

.tagline{
  font-family: Consolas;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;

}

.main{
  display: flex;
  justify-content: space-between;
}


.two{
  background: linear-gradient(90deg,#efefef 50% ,#ffffff 50%);
  height: 100vh;
  box-sizing: border-box;
  padding: 20px 5%;
}

.two h1{
  text-align: start;
}

.two .boxes{
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.two .box{
  width: 60%;
  border: 5px solid #000;
  border-radius: 20px;
  background-color: var(--background);
  text-align: start;
  padding: 30px;
}

.two .left-box{
  margin-right: auto;
  text-align: end;
}

.two .left-box .reverse{
    display: flex;
    flex-direction: row-reverse;
}

.two .left-box .reverse h5{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: 1em;
}

.two h5{
  font-weight: 700;
  font-size: 25px;
  display: inline;
  margin: 0;
  margin-left: 1em;
}

.three{
  box-sizing: border-box;
  padding: 20px 5%;
  height: 100vh;
  background-image: url("../../assets/about team backdrop.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-position-y: 130%;
}

.three h1{
  text-align: end;

}

.team-container{
  display: flex;
  justify-content: space-evenly;
  /* padding: 0 10%; */
}

.team-container img{
  max-height: 630px;
}

.three .box{
  border: 5px solid #000000;
  border-radius: 20px;
  width: 50%;
  margin: 20px;
  margin-bottom: 50px;
  max-width: 400px;
  background-color: var(--background);
}

.three .box p{
  padding: 20px;
  font-size: 25px;
}

.three .box div{
  background-color: var(--primary);
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 5px solid #000000;
  height: 60px;
}