.Editor{
    background-color: var(--background);
}

.main{
    background-color: var(--secondary);
    height: calc(100vh - 70px);
    display: flex;
}

.side-panel{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Editor button{
    width: 100%;
    border: none;
    height: 60px;
    background-color: var(--primary);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Editor button svg{
    padding-right: 5px;
}

.Editor .secondary{
    background-color: #8A9399;
}