.Navbar{
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    background: var(--primary);
    border: 5px solid #000000;
    display: flex;
    justify-content: end;
    padding-right: 40px;
    align-items: center;
  }
  
  .login{
    border: 3px solid #000000;
    height: 35px;
    width: 101px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 15px;
  }

  .text{
    font-weight: 700;
    font-size: 20px;
    padding: 0 15px;
    color: #000000;
    text-decoration: none;
  }