.PageTemplate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.Form{
    width: 50%;
    align-items: center;
    margin:0;
    margin-left: 145px;
}

.keyimg{
    margin: 0;
}

.SignUpHeader{
    font-size: 48px;

}

Button{
    margin-top: 5%;
    margin-bottom: 0%;
}

input[type="text"],input[type="password"]{
    border-bottom: 3px solid #efefef;
    font-size: 32px;
    padding: 20px;
    margin: 5px;
}

.Para{
    font-size: 32px;
}

a{
    text-decoration: none;
    color: #FC5F5F;
}
p{
    margin: 0%;
}
