.ButtonTemplate{
    transform: translatex(0%);
}

.button{
    width:250px;
    height: 70px;
    border-radius: 15px;
    border: solid black;
    border-width: 5px;
    background-color: #FDFDFD;
    font-size:32px;
    font-weight: 600;
}

.shadow{
    width:250px;
    height: 70px;
    border: solid black;
    border-radius: 15px;
    position: relative;
    z-index:-1;
    background-color:#FC5F5F;
    border-width: 2px;
    bottom: 60px;
    left: 7px;
}